.login {
    position: relative;
    height: 100%;
}

.login__bg {
    background: url("./homebg.jpg");
    background-size: cover;
    background-position: center center;
}

.login__logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: clamp(90px, 10vw, 150px);
    object-fit: contain;
    padding: 10px 20px;
    cursor: pointer;
}

.login__button {
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #e50914;
    font-weight: 600;
    color: #fff;
    border: none;
    cursor: pointer;  
    width: 100px;
}

.login__gradient {
    height: 77vh;
    z-index: 1;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.8));
    border-bottom: 8px solid #222;
}

.login__body {
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
}

.login__body > h1 {
    max-width: 700px;
    font-size: clamp(2.092rem, 6vw, 4rem);
    margin: 0 auto 20px auto;
}

.login__body > h2 {
    font-size: clamp(1.125rem, 3vw, 1.625rem);
    font-weight: 400;
    margin-bottom: 30px;
}

.login__body > h3 {
    font-size: 1.3rem;
    font-weight: 400;
}

.login__input {
    margin: 20px;
}

.login__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: 0;
    max-width: 600px;
}

.login__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: 0;
    cursor: pointer;
}