.header__feature {
    color: #fff;
    text-align: center;
    z-index: 1;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.header__feature > h1 {
    font-size: clamp(2.092rem, 6vw, 4rem);
    margin: 0 auto 20px auto;
    max-width: 700px;
}

.header__feature > h2 {
    font-size: clamp(1.125rem, 3vw, 1.625rem);
    font-weight: 400;
    margin-bottom: 30px;
}