.signin {
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 20px;
  position: absolute;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.signin__container {
  max-width: 300px;
  padding: 70px;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}

.signin__closeIcon {
  cursor: pointer;
  filter: invert(1);
  width: 23px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 30px 0 auto;
}

.signin__container > form {
  display: grid;
  flex-direction: column;
}

.signin__container > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

/* .signin > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
} */

.signin__container > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background-color: #e50914;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
}

.signin__container > form > h4 {
  text-align: left;
  margin-top: 30px;
}

.signin__gray {
  color: gray;
}

.signin__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signin__inputContainer {
  /* border: 5px solid red; */
  position: relative;
}

.signin__input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border: 0;
  border-radius: 5px;
  padding: 7px 17px;
  width: 90%;
  font-size: 16px;
}

.signin__input__label {
  color: gray;
  font-size: 14px;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
}

.signin__label__span {
  transition: all 0.1s ease;
  position: absolute;
  top: 0;
  left: 7px;
}

.signin
  > form
  .signin__input:focus
  + .signin__input__label
  .signin__label__span {
  transform: translateY(-70%);
  font-size: 11px;
  top: 0;
  left: 12px;
}
