.optionForm__input {
    margin: 20px;
    border: 2px solid blue;
}

.optionForm__input > h3 {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 20px;
}

.optionForm__input > form > input {
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: 0;
    max-width: 600px;
}

.optionForm__getStarted {
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: 0;
    cursor: pointer;
}