.footer {
    max-width: 1100px;
    color: #555;
    margin: auto;
    padding: 20px;
}

.footer__title {
    font-size: 20px;
}

.footer__rows {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.footer__link {
    margin: 8px;
    cursor: pointer;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__getInTouch {
    font-size: 20px;
}

.footer__socialIcons {
    display: flex;
    margin: 10px 0;
}

.footer__socialImage {
    width: 30px !important;
    margin: 10px !important;
    fill: #fff !important;
}