.navbar {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 30px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.navbar__black {
    background-color: #111;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100px;
    cursor: pointer;
}

.navbar__avatar {
    position: fixed;
    right: 20px;
    width: 40px;
    cursor: pointer;
}

.navbar__links {
    position: fixed;
    left: 200px;
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border: 3px solid green; */
}

.navbar__links > p {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    transition: transform 0.1s ease-in;
}

.navbar__links > p:hover {
    transform: scale(1.1);
}

.navbar__burgerButton {
    width: 30px;
    position: fixed;
    left: 200px;
    cursor: pointer;
    display: none;
}

.navbar__burgerLinks {
    color: #fff;
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    width: 100%;
    position: fixed;
    left: 235px;
    display: none;
}

@media (max-width: 1000px) {
    .navbar__links {
        display: none;
    }

    .navbar__burgerButton {
        display: block;
    }
}